<html ng-app='myApp'>
<head>
	<title></title>
</head>
<body>
	<div ng-controller='FirstController'>
			<input ng-model='mydata.val'>
			value:  {{mydata.val}}

		<div ng-controller='SecondController'>
			<input ng-model='mydata.val'>
			
			<!-- if inner mydata was created first, it will be separate from mydata created outside -->

			<!-- if outer mydata already exists, the inner mydata will only update the one created outside -->
			value: {{mydata.val}}
		</div>
	
	</div>
	<script type="text/javascript" src='../../angular.js'></script>
	<script type="text/javascript" src='app.js'></script>
</body>
</html>